# DataFrame

In [2]:
import pandas as pd
l = [1,2,3,4,5,6]
var = pd.DataFrame(l)
var

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [3]:
type(var)

pandas.core.frame.DataFrame

In [4]:
var[0]

0    1
1    2
2    3
3    4
4    5
5    6
Name: 0, dtype: int64

In [5]:
type(var[0])

pandas.core.series.Series

In [9]:
dic = {"name":["sai","anil","duraga"],"age":[25,26,21],"Gender":["M","M"]}

In [10]:
df = pd.DataFrame(dic)

ValueError: All arrays must be of the same length

In [14]:
dic = {"Name":["sai","anil","duraga"],"Age":[25,26,21],"Gender":["M","M","F"]}

In [15]:
df = pd.DataFrame(dic)
df

     Name  Age Gender
0     sai   25      M
1    anil   26      M
2  duraga   21      F

In [16]:
#ACCESSING

In [17]:
df['Name']

0       sai
1      anil
2    duraga
Name: Name, dtype: object

In [19]:
type(df['Name'])

pandas.core.series.Series

In [22]:
df.loc[0,'Name']

'sai'

In [25]:
df['Name'][0]

'sai'

In [26]:
df = pd.DataFrame(dic,columns=['Name','Age'],index=['a','b','c'])
df

     Name  Age
a     sai   25
b    anil   26
c  duraga   21

In [31]:
df['Name']['a']

'sai'

In [36]:
lis_1 = [['Sai',18,'M'],['Anil',28,'M']]
df = pd.DataFrame(lis_1)
df

      0   1  2
0   Sai  18  M
1  Anil  28  M

In [37]:
df[0]

0     Sai
1    Anil
Name: 0, dtype: object

In [39]:
sr = {"Name":pd.Series(["sai","anil","duraga"]),"Age":pd.Series([25,26,21])}

In [41]:
df = pd.DataFrame(sr)
df

     Name  Age
0     sai   25
1    anil   26
2  duraga   21