# Loops:
- Repeatative tasks
- For Each Loop - For each element of a given list
- For Loops are Inefficient
- Normal For Loops focused on number of iterations

In [1]:
students = ["Raju","Ramesh","Rani","Rakesh","Ramesh"]

In [2]:
## no of cpu clocks = 2
if students[0] == "Ramesh":
    print("Student Found at 1st place")
elif students[1] == "Ramesh":
    print("Student Found at 2nd place")
elif students[2] == "Ramesh":
    print("Student Found at 3rd place")
elif students[3] == "Ramesh":
    print("Student Found at 4th place")
elif students[4] == "Ramesh":
    print("Student Found at 5th place")

Student Found at 2nd place

In [5]:
# No of cpu clocks = 2
for index,student in enumerate(students):
    if student == "Ramesh":
        print(f"I Found Ramesh! in place of {index}")
        break

I Found Ramesh! in place of 1

# Time Complexity
- Search Algorithm --> Sequential Search
- Possible Consumption of CPU clocks
- If you found the element at 1st place -- No of clocks = 1
- If you found the element at last ------- No of clocks = len(students) = n
- Best Time Complexity --- O(1) --> Best Possible way --> BigO(1) -->()
- Worst Time Complexity --- O(n) --> Worst Possible way --> BigO(n)

In [2]:
# List Index
students.index('Ramesh')

1

In [8]:
list(enumerate([1,2,3]))

[(0, 1), (1, 2), (2, 3)]

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
#step = stride
list(range(2,10,2))

[2, 4, 6, 8]

In [22]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [23]:
list(range(10,1,-2))

[10, 8, 6, 4, 2]

In [24]:
poem = '''
FROM off a hill whose concave womb reworded
A plaintful story from a sistering vale,
My spirits to attend this double voice accorded,
And down I laid to list the sad-tuned tale;
Ere long espied a fickle maid full pale,
Tearing of papers, breaking rings a-twain,
Storming her world with sorrow's wind and rain.
'''

In [25]:
poem.split(' ')

['\nFROM',
 'off',
 'a',
 'hill',
 'whose',
 'concave',
 'womb',
 'reworded\nA',
 'plaintful',
 'story',
 'from',
 'a',
 'sistering',
 'vale,\nMy',
 'spirits',
 'to',
 'attend',
 'this',
 'double',
 'voice',
 'accorded,\nAnd',
 'down',
 'I',
 'laid',
 'to',
 'list',
 'the',
 'sad-tuned',
 'tale;\nEre',
 'long',
 'espied',
 'a',
 'fickle',
 'maid',
 'full',
 'pale,\nTearing',
 'of',
 'papers,',
 'breaking',
 'rings',
 'a-twain,\nStorming',
 'her',
 'world',
 'with',
 "sorrow's",
 'wind',
 'and',
 'rain.\n']

In [26]:
vale\nMy

SyntaxError: unexpected character after line continuation character (428054424.py, line 1)

In [31]:
lines = list(filter(lambda x:x != "",poem.split('\n')))
words = list(map(lambda x:x.split(' '),lines))
# lines
words

[['FROM', 'off', 'a', 'hill', 'whose', 'concave', 'womb', 'reworded'],
 ['A', 'plaintful', 'story', 'from', 'a', 'sistering', 'vale,'],
 ['My', 'spirits', 'to', 'attend', 'this', 'double', 'voice', 'accorded,'],
 ['And', 'down', 'I', 'laid', 'to', 'list', 'the', 'sad-tuned', 'tale;'],
 ['Ere', 'long', 'espied', 'a', 'fickle', 'maid', 'full', 'pale,'],
 ['Tearing', 'of', 'papers,', 'breaking', 'rings', 'a-twain,'],
 ['Storming', 'her', 'world', 'with', "sorrow's", 'wind', 'and', 'rain.']]

In [32]:
index = 0
for line_words in words:
    if "tale" in line_words:
        print(index+line_words.index("tale"))
    else:
        index += len(line_words)

In [33]:
words = poem.replace('\n',' ').split(' ')
words = list(filter(lambda x:x != "", words))
words.index('tale')

ValueError: 'tale' is not in list

In [37]:
statements = "Task"

In [40]:
for i in range(10):
    print(statements)

Task
Task
Task
Task
Task
Task
Task
Task
Task
Task

In [41]:
for i in range(len(students)):
    if students[i] == "Ramesh":
        print(f"I Found Ramesh! at {i}")
        break

I Found Ramesh! at 1

In [42]:
### 1. iteration --> students[0] == "Ramesh"
### 2. iteration --> students[1] == "Ramesh"

In [43]:
[ele for ele in students if ele != "Ramesh"] #Inline Forloops

['Raju', 'Rani', 'Rakesh']

In [46]:
list_a = [1,3,9,10,8,7]

list_b = [elem for elem in list_a if elem % 2 ==0]
list_b

[10, 8]

In [47]:
name = "Hyderabad"

In [48]:
for ch in name:
    print(ch)

H
y
d
e
r
a
b
a
d

In [49]:
maths_book_index = {"Logic":1,"LinearAlgebra":25,"Geometry":57,"Trigonometry":99}

In [51]:
for ele in maths_book_index: # default takes keys
    print(ele)

Logic
LinearAlgebra
Geometry
Trigonometry

In [52]:
maths_book_index.items()

dict_items([('Logic', 1), ('LinearAlgebra', 25), ('Geometry', 57), ('Trigonometry', 99)])

In [53]:
i = 0
for key,value in maths_book_index.items():
    print(f"{key}:{value}")
    print(f"Iteration Number: {i}")
    i += 1

Logic:1
Iteration Number: 0
LinearAlgebra:25
Iteration Number: 1
Geometry:57
Iteration Number: 2
Trigonometry:99
Iteration Number: 3

In [3]:
import string
alphabet = list(string.ascii_lowercase)

In [56]:
alphabet

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [57]:
chtoi = {ch:nu for nu,ch in enumerate(alphabet)}

In [58]:
chtoi

{'a': 0,
 'b': 1,
 'c': 2,
 'd': 3,
 'e': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [66]:
itoch = {nu:ch for nu,ch in enumerate(alphabet)}
itoch

{0: 'a',
 1: 'b',
 2: 'c',
 3: 'd',
 4: 'e',
 5: 'f',
 6: 'g',
 7: 'h',
 8: 'i',
 9: 'j',
 10: 'k',
 11: 'l',
 12: 'm',
 13: 'n',
 14: 'o',
 15: 'p',
 16: 'q',
 17: 'r',
 18: 's',
 19: 't',
 20: 'u',
 21: 'v',
 22: 'w',
 23: 'x',
 24: 'y',
 25: 'z'}

In [67]:
itoch = {}
for nu,ch in enumerate(alphabet):
    itoch[nu]=ch

In [68]:
itoch

{0: 'a',
 1: 'b',
 2: 'c',
 3: 'd',
 4: 'e',
 5: 'f',
 6: 'g',
 7: 'h',
 8: 'i',
 9: 'j',
 10: 'k',
 11: 'l',
 12: 'm',
 13: 'n',
 14: 'o',
 15: 'p',
 16: 'q',
 17: 'r',
 18: 's',
 19: 't',
 20: 'u',
 21: 'v',
 22: 'w',
 23: 'x',
 24: 'y',
 25: 'z'}

In [69]:
def mapper(x):
    return {x[1]:x[0]}

In [7]:
# list(map(mapper,enumerate(alphabet)))
list(map(lambda pair:{pair[1],pair[0]},enumerate(alphabet)))

[{0, 'a'},
 {1, 'b'},
 {2, 'c'},
 {3, 'd'},
 {4, 'e'},
 {5, 'f'},
 {6, 'g'},
 {7, 'h'},
 {8, 'i'},
 {9, 'j'},
 {10, 'k'},
 {11, 'l'},
 {12, 'm'},
 {13, 'n'},
 {14, 'o'},
 {15, 'p'},
 {16, 'q'},
 {17, 'r'},
 {18, 's'},
 {19, 't'},
 {20, 'u'},
 {21, 'v'},
 {22, 'w'},
 {23, 'x'},
 {24, 'y'},
 {25, 'z'}]

In [71]:
list(enumerate([1,2,3]))

[(0, 1), (1, 2), (2, 3)]

In [59]:
{nu:ch for nu,ch in list(enumerate(('t','h','r')))}

{0: 't', 1: 'h', 2: 'r'}

In [72]:
##
numbers = [1,2,3,4,5,6,7,8,9,10]

In [73]:
even_numbers = []
odd_numbers = []
for number in numbers:
    if number % 2 == 0:
        even_numbers.append(number)
    else:
        odd_numbers.append(number)

In [74]:
even_numbers

[2, 4, 6, 8, 10]

In [75]:
odd_numbers

[1, 3, 5, 7, 9]

In [76]:
even_numbers = [number for number in numbers if number % 2  == 0]
odd_numbers = [number for number in numbers if number % 2 == 1]

In [77]:
even_numbers

[2, 4, 6, 8, 10]

In [78]:
odd_numbers

[1, 3, 5, 7, 9]

In [79]:
## filter, range, enumerate
even_numbers = list(filter(lambda num:num%2 == 0, numbers))
odd_numbers = list(filter(lambda num:num%2 == 1, numbers))

In [80]:
even_numbers

[2, 4, 6, 8, 10]

In [81]:
odd_numbers

[1, 3, 5, 7, 9]

In [82]:
range(1,10)

range(1, 10)

In [83]:
## Compiled C Language Code
enumerate([1,2])

In [84]:
list(range(0,10,4))

[0, 4, 8]

In [85]:
[i for i in range(10) if i%2 == 0]

[0, 2, 4, 6, 8]

In [86]:
list(enumerate(['a','b','c']))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [1]:
{i:ele for i,ele in enumerate("TharunKumar")}

{0: 'T',
 1: 'h',
 2: 'a',
 3: 'r',
 4: 'u',
 5: 'n',
 6: 'K',
 7: 'u',
 8: 'm',
 9: 'a',
 10: 'r'}

In [20]:
num = 0
while num<=25:
    print("Burganing")
    num = int(input())
print("Item sold")

Burganing

 55

Item sold

In [15]:
for i in range(10):
    for j in range(10):
        print(i,j)

# ==> For Every ith iteration j number of iterations will be there
# ==> Total number of iterations 10*10

for i in range(n):
    for j in range(m):
        print(n,m)

# ==> Total Number of iterations => m*n
# # Time Complexity ==> O(m*n)
# Time Complexity ==> O(n^2) (m==n)
# Total Number of Iterations ==> Time Complexity


# for i in range(n):
#     print(i)

# Time Complexity ==> O(n)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 0
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

NameError: name 'n' is not defined

In [16]:
# for i in range(m):
#     for j in range(n):
#         for k in range(p):
#             print(i,j,k)

# Time Complexity ===> O(m*n*p) ==> O(n^3)

# Matrix Multiplication ==> O(n^3)(m=n=p)

In [ ]:
# for i in range(n):
#     for j in range(n-i):
#         print(i,j)

# Total Number of combinations ==> 
# (0,0),(0,1),(0,2),(0,3),(0,4) - 5 
# (1,0),(1,1),(1,2),(1,3) - 4
# (2,0),(2,1),(2,2) - 3
# (3,0),(3,1) - 2
# (4,0) - 1

# 5+4+3+2+1 = n(n+1)/2

# Time Complexity  n(n+1)/2 < n^2
# ================> O(n^2)
# ================> Omega(n(n+1)/2)
# ================> o(n^2)

# for i in range(n):
#     for j in range(n-i):
#         for k in range(n-j):
#             print(i,j,k)